@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  /* color: white; */
  text-decoration: underline red;
}

html {
  overflow-y: scroll;
}
.navbar-wrapper{
    background-color: rgb(71, 85, 105);
    
}
.fifty-off {
  background-color: rgba(0, 0, 0, 0.521);
  color: white;

  padding: 20px 40px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  bottom: 0%;
  left: 0%;
}